########################################
# Vivado build output (disposable)
########################################
Vivado/kria/build/

########################################
# Common Vivado noise
########################################
*.jou
*.log
*.str
*.zip
*.gz
*.bit
!Board/**/design_1.bit
*.bin
*.mmi
*.ltx
*.dcp
*.rpt
*.wdb
*.html
*.xml
*.pb
*.bxml

# Vivado-generated work dirs
**/.Xil/
**/.cache/
**/.hw/
**/.ip_user_files/
**/.runs/
**/.sim/
**/.gen/

########################################
# Editor / OS noise
########################################
*.swp
*.swo
*~
.vscode/
*__pycache__/
*.pyc


########################################
# Big model files
########################################
*trmult*
Model/Output/
*.bak*
